<div class="big-bloc">
  <div class="container" *ngIf="false">
    <div class="dv">
      <div class="bloc-calendrier">
        <div class="subtitle">
          <span class="s-title">Calendrier</span>
          <i class="material-icons edit" *ngIf="false">add</i>
        </div>
        <div class="items" *ngFor="let calendrier of calendrier">
          <div class="name">
            <span>{{ calendrier.name }}</span>
          </div>
          <div class="bodi">
            <div class="da">
              <span class="des">
                <span class="begin">
                  Deb : <span style="color: green">{{ calendrier.begin }}</span>
                </span>
                <span class="end">
                  Fin : <span style="color: red">{{ calendrier.begin }}</span>
                </span>
              </span>
            </div>
            <span class="icons">
              <i class="material-icons edit" *ngIf="false">edit</i>
              <i class="material-icons remove" *ngIf="false">delete</i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="bloc-timeTable">
      <span class="title">{{ accueil.title }}</span>
      <span class="text">
        {{ accueil.subtitle }}
      </span>
      <span class="b-cour" routerLink="course">{{ accueil.textbutton }}</span>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="link">
      <span>site de minister d'algerie</span>
      <span>site de minister d'algerie</span>
    </div>
    <div class="link">
      <span>Energie sourse de developement</span>
      <span>Soboua Tech</span>
      <span>Assemo</span>
    </div>
    <div class="link">
      <span>Formation bakary tech</span>
      <span>Formation Selmane</span>
    </div>
  </footer>
</div>
