//for color
$item_color: rgb(90, 86, 86);
$color-of-text: rgb(90, 86, 86);
$i_background: rgb(190, 189, 189);
$i_default: rgb(11, 11, 58);
$color-of-green: rgb(14, 121, 14);

//for font family
$font-first: Verdana;
$font-second: sans-serif;
$font-generale: $font-first, $font-second;

//for text size

$font-size-of-icon: 1.1rem;
