@import "../../../assets/style/common";

.container-course {
  width: 100%;
  height: 100%;
  //   border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .items-course {
    width: 25vw;
    height: 100%;
    padding: 4vh 1.2vw;
    font-size: 0.9vw;
    .item {
      @include card();

      .subtitle {
        .s-title {
          font-size: 0.8vw;
        }
      }
    }
  }
  .details-course {
    width: 65vw;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    .navbar {
      @include bordure();
      @include center();
      span {
        flex: 1;
        text-align: center;
      }
    }
    .expl {
      @include bordure();
      padding: 2vh 1vw;
      height: 10vh;
      color: gray;
      margin-top: 2vh;
    }
    .det {
      @include bordure();
      // background-color: white;
      // flex: 1;
      margin-top: 2vh;
      display: flex;
      flex-wrap: wrap;
      padding: 2vh 1vw;
      justify-content: space-between;
      .cadre {
        display: flex;
        flex-direction: column;
        .name-filiere {
          margin-top: 2vh;
        }
        .two {
          display: flex;
          .se {
            width: 14vw;
            height: 20vh;
            background-color: rgb(216, 216, 216);
            border-radius: 3px;
            margin: 1vh 0vw;
            img {
              border-radius: 3px;
              width: 100%;
              height: 16vh;
            }

            .nom {
              height: 4vh;
              padding: 0.5vh 1vw;
              font-size: 0.8vw;
              display: flex;
              justify-content: space-between;
            }
          }
          :last-child {
            margin-left: 1vw;
          }
        }
      }
    }
  }
}
