<div class="container-course">
  <div class="items-course">
    <div class="item">
      <div class="subtitle">
        <span class="s-title">Filiere</span>
        <i class="material-icons edit" *ngIf="false">add</i>
      </div>
      <div class="items" *ngFor="let course of course">
        <div class="name">
          <span>{{ course.name }}</span>
        </div>
        <div class="bodi">
          <div class="da">{{ course.des }}</div>
          <span class="icons">
            <i class="material-icons edit" *ngIf="false">edit</i>
            <i class="material-icons remove" *ngIf="false">delete</i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="details-course">
    <div class="navbar">
      <span style="color: green">Licence 1 </span>
      <span>Licence 2 </span>
      <span>Licence 3</span>
      <span>Master 1 </span>
      <span>Master 2 </span>
    </div>
    <div class="expl">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
      commodi inventore natus! Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit, amet consectetur adipisicing elit. Voluptatibus veritatis iusto
      placeat ea? Accusamus, numquam?
    </div>
    <div class="det">
      <div class="cadre" *ngFor="let m of m">
        <span class="name-filiere">{{ m.name }}</span>
        <div class="two">
          <div class="se" *ngFor="let e of m.e">
            <img src="../../../assets/image/informatique.jpg" alt="" />
            <div class="nom">
              <span style="color: green">niveau : </span>
              <span style="color: blue">sem: 1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
